# Ambiente
RH_APP_ENV=development
RH_LOG_LEVEL=INFO

# Banco SQL Server
RH_SQL_SERVER=PAULO_TI\SQLEXPRESS
RH_SQL_DATABASE=RH_Provas
RH_SQL_DRIVER=ODBC Driver 17 for SQL Server

# Autenticacao local
RH_AUTH_USER=rh.local
RH_AUTH_PASSWORD=troque-esta-senha
RH_AUTH_TOKEN_SECRET=troque-este-segredo
RH_AUTH_TOKEN_TTL_MINUTES=480

# Caixa de curriculos por IMAP
RH_EMAIL_INBOX_ENABLED=false
RH_EMAIL_INBOX_PROVIDER=microsoft365
RH_EMAIL_INBOX_PROTOCOL=imap
RH_EMAIL_INBOX_AUTH_MODE=oauth2
RH_EMAIL_INBOX_IMAP_HOST=outlook.office365.com
RH_EMAIL_INBOX_IMAP_PORT=993
RH_EMAIL_INBOX_ADDRESS=recrutamentoc24h@central24horas.com.br
RH_EMAIL_INBOX_USERNAME=recrutamentoc24h@central24horas.com.br
RH_EMAIL_INBOX_MAILBOX=INBOX
RH_EMAIL_INBOX_TENANT_ID=70559859-eef3-4b1c-86e7-14a6d0c732bd
RH_EMAIL_INBOX_CLIENT_ID=71670d9a-3b3b-4945-a375-3af300683f3a
RH_EMAIL_INBOX_CLIENT_SECRET_ENV=RH_EMAIL_CLIENT_SECRET
RH_EMAIL_INBOX_SCOPES=https://outlook.office365.com/.default
RH_EMAIL_INBOX_PASSWORD_ENV=RH_EMAIL_PASSWORD
RH_EMAIL_INBOX_MAX_MESSAGES=50
RH_EMAIL_INBOX_MAX_ATTACHMENT_MB=10
RH_EMAIL_INBOX_ATTACHMENTS_DIR=C:\ConectaRH\email_attachments

# CORS
RH_CORS_ALLOW_ORIGINS=http://127.0.0.1:5500,http://localhost:5500,http://127.0.0.1:3000,http://localhost:3000,null
RH_CORS_ALLOW_ORIGIN_REGEX=https?://(localhost|127\\.0\\.0\\.1)(:\\d+)?
